.App {
  text-align: center;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app{
  background-color: #0F292F;
  height: 105%;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #14A098;
  width: 80%;
  margin-left: 10%;
  font-family: 'Abril Fatface', cursive;
  line-height: 0.7;
}
header h1{
  font-size: 3.2rem;
  margin: 0 auto;
}
header .name{
  margin-top: 2%;
}
header p{
  font-size: 2.6rem;
}
.pic{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 75%;
  
}
.pic h3{
  color: #14A098;
}
.pic .click{
  color: #14A098;
  font-size: .8rem;
}
.pic .quote{
  color: #14A098;
  font-style: italic;
  font-size: 1rem;
}
.pic .quote span{
  font-style: normal;
  color: #CB2D6F
}
.buttons{
  display: flex;
  max-width: 95%;
  margin: 0 auto;
}
.buttons button {
  color:#501F3A;
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #CB2D6F;
  margin:0 0.5em 0.5em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;  
  font-weight: bold;
  text-align:center;
  transition: all 0.15s;
  background-color: #CB2D6F;
  font-size: 1rem;
}
.spacer{
  height: 5vh;
}
.grid{
  max-width: 80%;
  margin: 0 auto;
  border: solid 3px #501F3A;
}
.bio{
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #14A098;
}
.bio h3{
  font-size: 1.8rem;
  color: #CB2D6F;
  font-family:  'Merriweather', sans-serif;
}
.bio li{
  line-height: 1.6rem;
}
