.app{
  height: 105%;
  font-size: 62.5%;
  background: url(https://images.unsplash.com/photo-1531303511320-729cbf66254f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80);
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(207, 202, 202);
  width: 80%;
  margin-left: 10%;
  font-family: 'Abril Fatface', cursive;
  line-height: 0.7;
}
header h1{
  font-size: 3.2rem;
  margin: 0 auto;
}
header .name{
  margin-top: 2%;
}
header p{
  font-size: 2.6rem;
}
.pic{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 75%;
  
}
.pic h3{
  color: snow;
  font-size: 1.4rem;
}
.pic .click{
  color: snow;
  font-size: .8rem;
}
.pic .quote{
  color: snow;
  font-style: italic;
  font-size: 1rem;
}
.pic .quote span{
  font-style: normal;
  color: #CB2D6F;
}
.buttons{
  display: flex;
  max-width: 95%;
  margin: 0 auto;
}
.buttons button {
  color:#501F3A;
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #CB2D6F;
  margin:0 0.5em 0.5em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;  
  font-weight: bold;
  text-align:center;
  transition: all 0.15s;
  background-color: #CB2D6F;
  font-size: 1rem;
}
.spacer{
  height: 5vh;
}
.grid{
  max-width: 80%;
  margin: 0 auto;
  border: solid 3px #501F3A;
}
.container .flexer{
  display: flex; 
}
.container .info{
  color: #CB2D6F;
  margin: 0 auto;
  font-size: 1.1rem;
  margin-bottom: 1%;
}
.bio{
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: snow;
  font-size:  1rem;
}
.bio h3{
  font-size: 1.8rem;
  color: #CB2D6F;
  font-family:  'Merriweather', sans-serif;
}
.bio li{
  line-height: 1.6rem;
}
